.main-container h3 {
    margin: 0;
    text-align: left;
    font-size: 2em;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    color: #000000;
}

li img {
    height: 23px;
    width: 25px;
    margin-right: 10px;
}

li {
    margin-bottom: 1em;
    display: flex;
}

section:nth-child(1), section:nth-child(2), section:nth-child(3) {
    flex-grow: 1;
}

section:nth-child(2) {
    padding-right: 30px;
}

.card:nth-child(1) {
    transition: 200ms;
}
.card:nth-child(2) {
    transition: 400ms;
}
.card:nth-child(3) {
    transition: 600ms;
}
.card:nth-child(4) {
    transition: 800ms;
}
.card:nth-child(5) {
    transition: 1000ms;
}
.card:nth-child(6) {
    transition: 1200ms;
}
.card:nth-child(7) {
    transition: 1400ms;
}

label {
    display: inline-block;
    width:280px;
}

.contacts, #my-form {
    margin-top: 4em;
}

#my-form {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
    padding: 20px;
    max-width: 450px;
    height: 352px;
    display: flex;
    flex-direction: column;
}

#my-form p  {
    margin-top: 5px;
    margin-left: 2px;
    text-align: center;
}

#my-form label {
    padding: 20px 5px;
}

input {
    background-color: rgb(250, 242, 232);
    padding: 8px;
    border-color: inherit;
    border-radius: 8px;
    color: black;
}

button {
    width: 75px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

textarea {
    padding: 12px;
    background-color: rgb(250, 242, 232);
    border-radius: 10px;
    color: black;
}

button:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .invis {
        display: none;
    }
    li a {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 1060px) {
    .main-container{
        flex-direction: column;
        padding: 0;
    }
    .main-container h3 {
        text-align: center;
    }
    section:nth-child(3) {
        margin-bottom: 60px;
    }
    section:nth-child(2) {
        padding-right: 0;
    }
}