.main-container h3 {
    margin: 0;
    text-align: left;
    font-size: 2em;
}

a:hover {
    color: #b66767;
}

li img {
    height: 25px;
    width: 25px;
}

li {
    margin-bottom: 1em;
}

label {
    display: inline-block;
    width:280px;
}

.contacts {
    margin-top: 4em;
}

@media only screen and (max-width: 768px) {
    label {
        display: none;
    }

    li a {
        margin-left: 1em;
    }
}