.main-container h3 {
    margin: 0;
    text-align: left;
    font-size: 2em;
}

a:hover {
    color: #b66767;
}

li img {
    height: 25px;
    width: 25px;
}

li {
    margin-bottom: 1em;
}

.card:nth-child(1) {
    transition: 200ms;
}
.card:nth-child(2) {
    transition: 400ms;
}
.card:nth-child(3) {
    transition: 600ms;
}
.card:nth-child(4) {
    transition: 800ms;
}
.card:nth-child(5) {
    transition: 1000ms;
}
.card:nth-child(6) {
    transition: 1200ms;
}
.card:nth-child(7) {
    transition: 1400ms;
}

label {
    display: inline-block;
    width:280px;
}

.contacts {
    margin-top: 4em;
}

@media only screen and (max-width: 768px) {
    label {
        display: none;
    }

    li a {
        margin-left: 1em;
    }
}