* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url("/assets/images/body/background.jpg") no-repeat center fixed;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'Fira Mono', monospace;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 125;
    letter-spacing: 0.005em;
    opacity: 0;
    transition: all 1.5s ;
}

a, span {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.header {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 15px;
    z-index: 2;
}

.header-1 {
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.nav-menu {
    list-style-type: none;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    right: 0;
}

.nav-item {
    text-align: center;
    display: none;
}

.nav-item a {
    display: block;
    padding: 20px;
    font-weight: 700;
    width: 100vw;
    letter-spacing: 0.1em;
    transition: all 0.2s ease;
    color: #1D263B;
}

.nav-item a:hover, .nav-item a:focus, .header-1:hover {
    color: #000000;
    text-decoration: none;
}

.active {
    background-color: grey;
}

.active .nav-item {
    display: block;
}

.active .nav-item:hover {
    background-color: #0d0e0d;
}

.active .nav-item a:hover {
    color: #7a7a7a;
}

.toggle {
    padding: 1.1em;
    cursor: pointer;
}

.toggle i {
    font-size: 2em;
}

.colour {
    color: rgb(253, 253, 253);
}

.bold {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.card {
    margin-top: 25px;
    opacity: 0;
    filter: blur(5s);
    transform: translateX(-100%);
    transition: all 3s;
}

.stacked .card:nth-child(1) {
    transition: 500ms;
}
.stacked .card:nth-child(2) {
    transition: 450ms;
}

.showElem {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(5s);
}

.stacked {
    margin: 0 auto;
    margin-top: 8em;
    padding: 0 25px;
    max-width: 1600px;
}

.main-container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1600px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 80px;
}

.main2 {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin: 0 auto;
    text-align: center;
}

.footer a {
    font-size: 0.8rem;
    color: #fff;
}
  
.footer a:hover {
    opacity: 0.6;
}
  
.footer .social {
    margin: 0.9rem 0;
}
  
.footer .social img {
    width: 20px;
    height: 20px;
}
  
.footer .social a {
    margin: 0 0.5rem;
}
  
.footer p {
    font-size: 0.92rem;
}

@media only screen and (min-width: 768px) {
    h1, h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
        text-align: left;
    }
    h4 {
        font-size: 1.4em;
    }
    .nav {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu {
        position: relative;
        align-items: center;
        flex-direction: row;
        height: fit-content;
    }
    .nav-item {
        position: relative;
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0;
    }
    .nav-item a {
        width: -moz-fit-content;
        width: fit-content;
        color: #FFFFFF;
    }
    .toggle {
        display: none;
    }
}