h3 {
    opacity: 0;
    transition: all 1.5s ;
}

h4, h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

h5 {
    font-size: 16px;
}

.date {
    font-style: italic;
}

.education-container h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-top: 25px;
    opacity: 0;
    filter: blur(5s);
    transform: translateX(-100%);
    transition: all 3s;
}

.showElem {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(5s);
}

.card-info p {
    margin-top: 0.35em;
}

.card-description {
    margin: 15px 0 0 15px;
}

.card-description p:not(:first-child) {
    margin-top: 0.35em;
}

.card-description p::before {
    content: ">\A0";
    color: rgb(37, 37, 37);
    font-weight: 700;
}

.card-description h5:not(:first-child) {
    margin-top: 10px;
}

.stack-container {
    margin: 50px auto 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 2px solid rgb(163, 163, 163);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.skill span {
    margin-left: 10px;
}

.skill:nth-child(1) {
    transition-delay: 400ms;
}
.skill:nth-child(2) {
    transition-delay: 400ms;
}
.skill:nth-child(3) {
    transition-delay: 400ms;
}
.skill:nth-child(4) {
    transition-delay: 400ms;
}
.skill:nth-child(5) {
    transition-delay: 400ms;
}
.skill:nth-child(6) {
    transition-delay: 400ms;
}
.skill:nth-child(7) {
    transition-delay: 400ms;
}
.skill:nth-child(8) {
    transition-delay: 400ms;
}
.skill:nth-child(9) {
    transition-delay: 400ms;
}
.skill:nth-child(10) {
    transition-delay: 400ms;
}
.skill:nth-child(11) {
    transition-delay: 400ms;
}
.skill:nth-child(12) {
    transition-delay: 400ms;
}
.skill:nth-child(13) {
    transition-delay: 400ms;
}

.disable-transitions {
    transition: none;
}

@media only screen and (min-width: 768px) {
    #education-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .education-container {
        margin-top: -50px;
        width: 48%;
    }
    .section-description {
        margin: 50px 10% 0 10%;
    }
}

@media only screen and (min-width: 1100px) {
    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-info {
        width: 40%;
    }
    .card-description {
        width: 60%;
        margin-top: 0;
    }
}