h4, h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

.date {
    font-style: italic;
}

.education-experience-container h3 {
    margin-bottom: 50px;
}

#experience {
    margin-top: 50px;
}

.education-experience-card {
    margin-top: 25px;
}

.card-info p {
    margin-top: 0.35em;
}

.card-info p a:hover {
    color: #F08CAE;
}

.card-description {
    margin: 15px 0 0 15px;
}

.card-description p:not(:first-child) {
    margin-top: 0.35em;
}

.card-description p::before {
    content: ">\A0";
    color: rgb(53, 185, 124);
    font-weight: 700;
}

.card-description h5:not(:first-child) {
    margin-top: 10px;
}

.tech-stack-container {
    margin: 50px auto 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 2px solid rgb(53, 185, 124);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.skill span {
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {
    #education-experience {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .education-experience-container {
        width: 48%;
    }
    #experience {
        margin-top: 0;
    }
    .section-description {
        margin: 50px 10% 0 10%;
    }
}

@media only screen and (min-width: 1100px) {
    .profile-container {
        margin: 50px auto 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .terminal-container {
        flex-grow: 1;
        margin: 0;
    }
    .me-icon-container {
        width: 300px;
        height: auto;
    }
    .education-experience-card {
        display: flex;
        justify-content: space-between;
    }
    .card-info {
        width: 40%;
    }
    .card-description {
        width: 60%;
        margin-top: 0;
    }
    .section-description {
        margin: 50px auto 0 auto;
    }
}