h4, h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

h5 {
    font-size: 16px;
}

.date {
    font-style: italic;
}

.education-container h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-info p {
    margin-top: 0.35em;
}

.card-description {
    margin: 15px 0 0 15px;
}

.card-description p:not(:first-child) {
    margin-top: 0.35em;
}

.card-description p::before {
    content: ">\A0";
    color: rgb(114, 114, 114);
    font-weight: 700;
}

.card-description h5:not(:first-child) {
    margin-top: 10px;
}

.stack-container {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 2px solid rgb(163, 163, 163);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.skill span {
    margin-left: 10px;
}

.disable-transitions {
    transition: none;
}

@media only screen and (min-width: 768px) {
    .card-description p::before {
        color: rgb(37,37,37);
    }
    #education-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .education-container {
        margin-top: -50px;
        width: 48%;
    }
    .section-description {
        margin: 50px 10% 0 10%;
    }
}

@media only screen and (min-width: 1100px) {
    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-info {
        width: 40%;
    }
    .card-description {
        width: 60%;
        margin-top: 0;
    }
}