html, body {
    height: initial;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 16px;
}

.projects_title {
    margin: 50px 0 100px 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    height: 400px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 2px solid lightgray;
    margin-bottom: 20px;
    background-image: url("/assets/images/projects/unknown8.webp");
    background-size: cover;
}

.card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.group {
    display: flex;
}

.group a { 
    padding: 10px;
}

.outer {
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    color: #181818;
    background-color: rgba(255,255,255,0.3);
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    box-sizing: border-box;
    padding: 40px;
}

.title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #181818;
    position: relative;
    margin: 0 0 20px 0;
}

.subtitle {
    color: #b0215e;
    text-align: center;
}

.card2 {
    background-image: url("/assets/images/projects/unknown7.png");
}

.card3 {
    background-image: url("/assets/images/projects/unknown6.png");
}

.card4 {
    background-image: url("/assets/images/projects/unknown5.png");
}

.card5 {
    background-image: url("/assets/images/projects/unknown4.png");
}

.card6 {
    background-image: url("/assets/images/projects/unknown3.png");
}

.card7 {
    background-image: url("/assets/images/projects/unknown2.png");
}

.card8 {
    background-image: url("/assets/images/projects/unknown.png");
}

.card:nth-child(8)  {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .card {
        height: 500px;
    }
    .inner {
        width: 50%;
        height: 100%;
    }
    .title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 30px;
    }
    .card {
        height: 600px;
    }
}